main{
  padding-top: 24px;
  .pre-line{
    white-space: pre-line;
  }
  .list{
    .card-body{
      position: relative;
      height: 350px;
      svg{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        .hana{
          transition: transform 0.5s linear;
          transform: translateX(0%);
        }
        .ame{
          transition: transform 0.5s linear;
        }
        &#usagi{
          .st0{fill:#122E33;}
        	.st1{fill:#FFFFFF;}
        	.st2{fill:#F5B090;}
        	.st3{fill:#36200B;}
        	.st4{fill:#F7EC95;}
        	.st5{fill:#EE87B4;}
        	.st6{fill:#D07AA8;}
        }
      }
    }
    .col-sm-6{
      padding-bottom: 24px;
    }
  }
}
